.w-10 {
  overflow: hidden;
  width: 10px;
}

.button1 {
  background: darken(#80ff00, 15%);
  border-radius: 15px;
  box-shadow: rgba(#000, .5) 2px 4px 5px inset,
    rgba(#000, 0.3) 4px 2px 5px;
  font: {
    family: 'font-13';
    size: 40px;
  };
  padding: 10px 40px;
}