.w-10 {
  overflow: hidden;
  width: 10px !important;
}
.w-427 {
  float: left;
  width: 421px !important;
}

.is-it-a-placeholder {
  ::-webkit-input-placeholder {
    color: #000;
  }
}

.button1 {
  background: darken(#80ff00, 15%);
  border-radius: 15px;
  box-shadow: rgba(#000, .5) 2px 4px 5px inset,
    rgba(#000, 0.3) 4px 2px 5px;
  display: inline-block;
  font: {
    family: 'font-3';
    size: 40px;
  };
  padding: 10px 40px;
}

#captchasong {
  font-size: 14px;
  input {
    margin: 5px auto;
    width: 200px;
    display: block;
    text-align: center;
  }
}

#nummernCode {
  font-size: 14px;

  .operator span {
    display: inline-block;
    width: 40px;
    height: 45px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid currentColor;
  }
}

#congrats {
  -webkit-animation: pulsar 1.5s infinite;
  animation: pulsar 1.5s infinite;
  text-shadow: 3px 3px 1px rgba(150, 150, 150, 1);

  * {
    font-family: font-6 ,sans-serif;
    font-size: 20px;
  }

  h1 {
    font-size: 30px;
  }

  span {
    color: red;
  }
}

.everything-is-awesome {
  text-align: left;
  width: 1024px;

  .nextBtn {
    margin-left: 674px;
  }

div {
  margin-bottom: 25px;
}
  label {
    display: inline-block;
    width: 237px;
  }
  input {
    width: 437px;
  }

  .composite {
    label {
      float: left;
      width: 240px;
    }

    .zip {
      width: 200px;
      float: left;

      + input {
        width: 232px;
      }
    }
  }

  #pickit {
    label {
      float: left;
      width: 240px;
    }
  }

  .ui-datepicker-trigger {
    position: absolute;
    right: 400px;
  }


}

#terms {
  .dont-overflow {
    height: 40px;
    width: 1000px;
    text-align: left;
    overflow: scroll;
    white-space: nowrap;

    p {
      font-family: font-20;
      font-size:13px;
      display: inline;
    }
  }

}
  #fieldset2 .nextBtn {
    float: left;
  }

#pipiano {
  .key {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 10px;
    background-color: lightgrey;
    border: 2px solid darkgray;
    border-radius: 10px;

    &.playing {
      background-color: yellow;
    }

    span {
      font-size: 16px;
    }
  }
}
