@font-face {
  font-family: 'font-1';
  src: url("../fonts/Akronim/Akronim-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-2';
  src: url("../fonts/Anton/Anton-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-3';
  src: url("../fonts/Audiowide/Audiowide-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-4';
  src: url("../fonts/Bonbon/Bonbon-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-5';
  src: url("../fonts/CabinSketch/CabinSketch-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-5';
  src: url("../fonts/CabinSketch/CabinSketch-Bold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: 'font-6';
  src: url("../fonts/Chewy/Chewy.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-7';
  src: url("../fonts/Creepster/Creepster-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-8';
  src: url("../fonts/Damion/Damion-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-9';
  src: url("../fonts/Dancing_Script/DancingScript-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-9';
  src: url("../fonts/Dancing_Script/DancingScript-Bold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: 'font-10';
  src: url("../fonts/Ewert/Ewert-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-11';
  src: url("../fonts/Fontdiner_Swanky/FontdinerSwanky-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-12';
  src: url("../fonts/GFS_Didot/GFSDidot-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-13';
  src: url("../fonts/Geostar/Geostar-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-14';
  src: url("../fonts/Geostar_Fill/GeostarFill-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-15';
  src: url("../fonts/Gloria_Hallelujah/GloriaHallelujah.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-16';
  src: url("../fonts/Hanalei/Hanalei-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-17';
  src: url("../fonts/Henny_Penny/HennyPenny-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-18';
  src: url("../fonts/Kaushan_Script/KaushanScript-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-19';
  src: url("../fonts/Monoton/Monoton-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-20';
  src: url("../fonts/Nosifer/Nosifer-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-21';
  src: url("../fonts/Pacifico/Pacifico-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-22';
  src: url("../fonts/Permanent_Marker/PermanentMarker.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-23';
  src: url("../fonts/Righteous/Righteous-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-24';
  src: url("../fonts/Rock_Salt/RockSalt.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-25';
  src: url("../fonts/Sacramento/Sacramento-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-26';
  src: url("../fonts/Satisfy/Satisfy-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'font-27';
  src: url("../fonts/Shadows_Into_Light/ShadowsIntoLight.ttf") format("truetype");
  font-weight: 400; }

.font-1 {
  font-family: font-1 !important; }

.font-2 {
  font-family: font-2 !important; }

.font-3 {
  font-family: font-3 !important; }

.font-4 {
  font-family: font-4 !important; }

.font-5 {
  font-family: font-5 !important; }

.font-6 {
  font-family: font-6 !important; }

.font-7 {
  font-family: font-7 !important; }

.font-8 {
  font-family: font-8 !important; }

.font-9 {
  font-family: font-9 !important; }

.font-10 {
  font-family: font-10 !important; }

.font-11 {
  font-family: font-11 !important; }

.font-12 {
  font-family: font-12 !important; }

.font-13 {
  font-family: font-13 !important; }

.font-14 {
  font-family: font-14 !important; }

.font-15 {
  font-family: font-15 !important; }

.font-16 {
  font-family: font-16 !important; }

.font-17 {
  font-family: font-17 !important; }

.font-18 {
  font-family: font-18 !important; }

.font-19 {
  font-family: font-19 !important; }

.font-20 {
  font-family: font-20 !important; }

.font-21 {
  font-family: font-21 !important; }

.font-22 {
  font-family: font-22 !important; }

.font-23 {
  font-family: font-23 !important; }

.font-24 {
  font-family: font-24 !important; }

.font-25 {
  font-family: font-25 !important; }

.font-26 {
  font-family: font-26 !important; }

.font-27 {
  font-family: font-27 !important; }

body {
  font-family: "Comic Sans MS", monospace;
  font-size: 10px;
  text-align: center; }
  body.rainbow-background {
    background: #000;
    -webkit-animation: rainbow-background 10s infinite;
    animation: rainbow-background 10s infinite; }

h1 {
  font-size: 27px; }

fieldset {
  border: none; }

.hidden {
  display: none !important; }

.error {
  color: red; }

.rainbow-color {
  -webkit-animation: rainbow-color 1s infinite;
  animation: rainbow-color 1s infinite; }
  .rainbow-color-hover:hover, .rainbow-color-hover:focus {
    -webkit-animation: rainbow-color 1s infinite;
    animation: rainbow-color 1s infinite; }

.rainbow-background {
  -webkit-animation: rainbow-background 1s infinite;
  animation: rainbow-background 1s infinite; }
  .rainbow-background-hover:hover, .rainbow-background-hover:focus {
    -webkit-animation: rainbow-background 1s infinite;
    animation: rainbow-background 1s infinite; }

.overlay {
  background: #fff;
  bottom: 10px;
  left: 10px;
  padding: 50px;
  position: fixed;
  right: 10px;
  top: 10px;
  box-shadow: #000 0 0 100px inset, #ff0080 0 0 25px; }

@keyframes rainbow-color {
  0% {
    color: #ff0000; }
  10% {
    color: #ff8000; }
  20% {
    color: #ffff00; }
  30% {
    color: #80ff00; }
  40% {
    color: #00ff00; }
  50% {
    color: #00ff80; }
  60% {
    color: #00ffff; }
  70% {
    color: #0080ff; }
  80% {
    color: #0000ff; }
  90% {
    color: #8000ff; }
  100% {
    color: #ff0080; } }

@keyframes rainbow-background {
  0% {
    background: #ff0000; }
  10% {
    background: #ff8000; }
  20% {
    background: #ffff00; }
  30% {
    background: #80ff00; }
  40% {
    background: #00ff00; }
  50% {
    background: #00ff80; }
  60% {
    background: #00ffff; }
  70% {
    background: #0080ff; }
  80% {
    background: #0000ff; }
  90% {
    background: #8000ff; }
  100% {
    background: #ff0080; } }

.w-10 {
  overflow: hidden;
  width: 10px; }

.is-it-a-placeholder ::-webkit-input-placeholder {
  color: #000; }

.button1 {
  background: #5ab300;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 4px 5px inset, rgba(0, 0, 0, 0.3) 4px 2px 5px;
  display: inline-block;
  font-family: 'font-3';
  font-size: 40px;
  padding: 10px 40px; }

#input10 input {
  margin: 5px auto;
  width: 200px;
  display: block; }
